* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.top {
    height: 768px;
    background: linear-gradient(0deg,
            #EBF3FB 8.84%, rgba(152, 195,
                232, 0) 31.12%);
}

body {
    font-family: sans-serif;
}

.text {
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
    letter-spacing: 0.05em;
    opacity: 0.6;
}

.text_project {
    width: 75%;
    margin: 32px auto 64px;
    color: #222222;
    opacity: 1;
    text-align: center;
}

.contact_head {
    width: 100%;
    left: 0px;
    top: 18px;
    background: linear-gradient(253.6deg, #98D0FC 2.46%, #3481D7 93.24%);
    margin-bottom: 30px;
}

.title {
    font-size: 64px;
    color: #1F3F68;
}

.heading-contacts {
    font-weight: 500;
    font-size: 44px;
    font-family: 'Roboto';
    font-style: normal;
    line-height: 74px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.what-we-do {
    padding-top: 64px;
}

.heading {
    font-size: 36px;
    text-align: center;
    font-weight: 300;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
}

.heading-mini {
    display: flex;
    justify-content: center;
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
    letter-spacing: 0.05em;
    margin-bottom: 14px;
}

.space {
    border: 1px solid #356ead;
    box-sizing: border-box;
    border-radius: 5px;
    opacity: 0.4;
}

.submit_button {
    width: 240px;
    height: 50px;
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 122, 177, 0.2);
    border-radius: 10px;
    border: rgba(16, 122, 177, 0.2);
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
}

.text {
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
    letter-spacing: 0.05em;
    opacity: 0.6;
}

.header {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding-top: 42px;
}

.top__box {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.top__info {
    padding-top: 115px;
    flex-grow: 1;
    background-image: url(../img/illustration.svg);
    background-repeat: no-repeat;
    background-position: right center;
}

.top__button {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba (53, 110, 173, 0.2);
    border-radius: 10px;
    padding: 15px 50px;
    text-decoration: none;
    display: inline-block;
    margin-top: 71px;
}

.top__heading {
    width: 510px;
    font-size: 64px;
    color: #1F3F68;
    line-height: 74px;
    font-weight: 300;
    letter-spacing: 0.04em;
    margin-bottom: 32px;
}

.card-box {
    display: flex;
    justify-content: space-between;
    padding-top: 64px;
    padding-bottom: 64px;
}

.card {
    width: 359px;
    padding: 44px 32px;
    box-sizing: border-box;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
}

.card__img {
    align-self: center;
    margin-bottom: 51px;
}

.card__link {
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
    text-decoration: none;
}

.text__footer {
    color: #ffffff;
}

.footer__info {
    display: flex;
    justify-content: space-between;
    margin-top: 64px;
}

.footer__heading {
    width: 340px;
    text-align: left;
    color: #FFF;
    margin-bottom: 32px;
}

.footer__text {
    width: 495px;
}

.footer__top {
    padding-bottom: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__bottom {
    padding-bottom: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer {
    background: #316099;
    padding-top: 91px;
    padding-bottom: 64px;
    margin-top: 112px;
}

.footer__button {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 00.04em;
    color: #FFFFFF;
    padding: 15px 80px;
    background: #5A98D0;
    text-decoration: none;
}

.footer__list {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    flex-grow: 1;
    flex-basis: 33.3333%;
    list-style-type: none;
    display: flex;
    margin-right: 32px;
}

.footer__copy {
    margin-top: 64px;
}

.footer__copy-text {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.4;
}

.project__item {
    position: relative;
    flex-grow: 1;
}

.project__parent {
    display: flex;
    margin-top: 32px;
    justify-content: space-between;
}

.maps {
    margin-top: 20px;
    width: 600px;
    height: 480px;
    left: 213px;
    top: 1332px;
}

.main {
    display: flex;
    justify-content: center;
}


.top__text {
    width: 300px;
}

.input-text {
    border: 1px solid #356ead;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}

.project__img {
    width: 100%;
}

.project__text {
    position: absolute;
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    top: 64px;
    right: 64px;
}

.project__item_margin {
    margin-right: 32px;
}

.project__text__mini {
    right: auto;
    left: 32px;
    top: 32px;
    text-align: left;
}

hr {
    opacity: 0.4;
}

.hc {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.04em;
    color: rgb(255, 255, 255);
}

.form {
    width: 240px;
    background: #FFFFFF;
    box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    border: 1px solid rgba(1, 142, 236, 0.2);
}