* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.top {
    height: 768px;
    background: linear-gradient(0deg,
            #EBF3FB 8.84%, rgba(152, 195,
                232, 0) 31.12%);
}

body {
    font-family: sans-serif;
}

.text {
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
    letter-spacing: 0.05em;
    opacity: 0.6;
}

.title {
    font-size: 64px;
    color: #1F3F68;
}

.heading-contacts {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

.heading {
    font-size: 36px;
    text-align: center;
}

.heading-mini {
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
}

.space {
    border: 1px solid #356ead;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}

.submit_button {
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 122, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
}

.header {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding-top: 42px;
}

.top__box {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.top__info {
    padding-top: 115px;
    flex-grow: 1;
    background-image: url(../img/illustration.svg);
    background-repeat: no-repeat;
    background-position: right center;
}

.top__button {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba (53, 110, 173, 0.2);
    border-radius: 10px;
    padding: 15px 50px;
    text-decoration: none;
    display: inline-block;
    margin-top: 71px;
}

.top__heading {
    width: 510px;
    font-size: 64px;
    color: #1F3F68;
    line-height: 74px;
    font-weight: 300;
    letter-spacing: 0.04em;
    margin-bottom: 32px;
}

.card-box {
    display: flex;
    justify-content: space-between;
}

.card {
    width: 359px;
}

.footer__info {
    display: flex;
    justify-content: space-between;
}

.main {
    display: flex;
}

.top__text {
    width: 300px;
}