* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

body {
    font-family: sans-serif;
}

.text {
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
}

.title {
    font-size: 64px;
    color: #1F3F68;
}

.heading-contacts {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

.heading {
    font-size: 36px;
    text-align: center;
}

.heading-mini {
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
}

.space {
    border: 1px solid #356ead;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}

.submit_button {
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 122, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
}

.header {
    display: flex;
    justify-content: space-between;
}

.top__heading {
    width: 510px;
    font-size: 64px;
    color: #1F3F68;
}

.card-box {
    display: flex;
    justify-content: space-between;
}

.card {
    width: 359px;
}

.footer__info {
    display: flex;
    justify-content: space-between;
}